.service {
    min-height: 80vh;
    padding: 100px 0px;
}

.service-img {
    display: grid;
    gap: 40px;
    overflow: hidden;
    margin:  50px 0 ;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 350px 350px 350px ;
    
}

.service-img img {
    height: 420px;
    width: 350px;
    object-fit: cover;
    border-radius: none;
}

.service-img h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    color: var(--heading);
}

.service-img p {
    font-size: 16px;
    font-weight: 400px;
    color: var(--);
}