.graphic {
    display: flex;
    padding: 80px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.graphic-div {
    display:flex;
    flex-direction: column;
    gap:20px;
    
}
.graphic-div h2{
    font-size: 28px;
    font-weight: 600;
    color: var(--heading);
} 
.graphic-div p{
    font-size: 17px;
    color: var(--text);
}